##########################################################
# ここに記載してあるファイルはgitの管理外になっています  #
##########################################################

# basic
#.gitignore

##########################################################
#             No Changeable Files and Folders            #
##########################################################
#####folder
admin
css
documents
extensions
font
gendex
headstones
histories
img
js
#languages
media
mods
mybackups
mygedcom
photos
#templates
timeline_2.3.0

#####files
addnewacct.php
admin.php
adminlib.php
adminlog.php
adminlog.txt
adminmaint.php
adminmeta.php
adminshowlog.php
admin_add2albumxml.php
admin_addalbum.php
admin_addassoc.php
admin_addbranch.php
admin_addcemetery.php
admin_addcitation.php
admin_addcollection.php
admin_addentity.php
admin_addevent.php
admin_addeventtype.php
admin_addfamily.php
admin_addlanguage.php
admin_addmedia.php
admin_addnote.php
admin_addperson.php
admin_addperson2.php
admin_addplace.php
admin_addrepo.php
admin_addreport.php
admin_addsource.php
admin_addtlevent.php
admin_addtree.php
admin_adduser.php
admin_albums.php
admin_associations.php
admin_backup.php
admin_branches.php
admin_branchlabels.php
admin_branchmenu.php
admin_branchoptions.php
admin_cemeteries.php
admin_changetree.php
admin_changetreeform.php
admin_checkemail.php
admin_checkfile.php
admin_checkID.php
admin_citations.php
admin_cleartree.php
admin_corner.php
admin_dataimport.php
admin_defphotos.php
admin_deletealbum.php
admin_deleteassoc.php
admin_deletecitation.php
admin_deleteentity.php
admin_deleteevent.php
admin_deletefile.php
admin_deletenote.php
admin_deletereview.php
admin_deleteselected.php
admin_diagnostics.php
admin_editalbum.php
admin_editassoc.php
admin_editbranch.php
admin_editcemetery.php
admin_editcitation.php
admin_editcollection.php
admin_editevent.php
admin_editeventtype.php
admin_editfamily.php
admin_editlanguage.php
admin_editmedia.php
admin_editmedialink.php
admin_editmore.php
admin_editmostwanted.php
admin_editnote.php
admin_editnote2.php
admin_editperson.php
admin_editplace.php
admin_editrepo.php
admin_editreport.php
admin_editsource.php
admin_edittlevent.php
admin_edittree.php
admin_edituser.php
admin_eventtypes.php
admin_export.php
admin_families.php
admin_filepicker.php
admin_findmwmedia.php
admin_findreview.php
admin_gedcom2.php
admin_gedimport.php
admin_gedimport_eventtypes.php
admin_genconfig.php
admin_generateID.php
admin_generatethumbs.php
admin_geocode.php
admin_geocodeform.php
admin_getphotodetails.php
admin_importconfig.php
admin_languages.php
admin_leftbanner.php
admin_logconfig.php
admin_login.php
admin_mailusers.php
admin_main.php
admin_makefolder.php
admin_mapconfig.php
admin_media.php
admin_mediaeventxml.php
admin_medialinksxml.php
admin_mediaupload.php
admin_mediauploader.php
admin_merge.php
admin_mergeplaces.php
admin_mergeplacesajax.php
admin_mergerepos.php
admin_mergesources.php
admin_misc.php
admin_modmanager.php
admin_mostwanted.php
admin_newalbum.php
admin_newbranch.php
admin_newcemetery.php
admin_newcollection.php
admin_newentity.php
admin_newevent.php
admin_neweventtype.php
admin_newfamily.php
admin_newlanguage.php
admin_newmedia.php
admin_newperson.php
admin_newperson2.php
admin_newplace.php
admin_newrepo.php
admin_newreport.php
admin_newsource.php
admin_newtlevent.php
admin_newtree.php
admin_newuser.php
admin_notelist.php
admin_notes.php
admin_optimize.php
admin_orderalbumform.php
admin_orderalbums.php
admin_ordermedia.php
admin_ordermediaform.php
admin_pedconfig.php
admin_people.php
admin_photoimport.php
admin_photoimporter.php
admin_phpinfo.php
admin_pickcemetery.php
admin_places.php
admin_renumber.php
admin_renumbermenu.php
admin_reports.php
admin_repositories.php
admin_restore.php
admin_review.php
admin_reviewusers.php
admin_rightbanner.php
admin_savelanguage.php
admin_savereview.php
admin_savewhatsnewmsg.php
admin_secondary.php
admin_secondmenu.php
admin_sendmailusers.php
admin_setup.php
admin_showbranch.php
admin_sources.php
admin_tablecreate.php
admin_templateconfig.php
admin_thumbnails.php
admin_timelineevents.php
admin_trees.php
admin_updatealbum.php
admin_updateassoc.php
admin_updatebranch.php
admin_updatecemetery.php
admin_updatecitation.php
admin_updatecollection.php
admin_updateconfig.php
admin_updateevent.php
admin_updateeventtype.php
admin_updatefamily.php
admin_updateimportconfig.php
admin_updatelanguage.php
admin_updatelogconfig.php
admin_updatemapconfig.php
admin_updatemedia.php
admin_updatemore.php
admin_updatemostwanted.php
admin_updatenote.php
admin_updatenote2.php
admin_updatepedconfig.php
admin_updateperson.php
admin_updateplace.php
admin_updaterepo.php
admin_updatereport.php
admin_updateselectedeventtypes.php
admin_updateselectedmedia.php
admin_updatesource.php
admin_updatetemplateconfig.php
admin_updatetlevent.php
admin_updatetree.php
admin_updateuser.php
admin_users.php
admin_utilities.php
admin_whatsnewmsg.php
ahnentafel.php
ajx_addbookmark.php
ajx_branchmenu.php
ajx_checknewuser.php
ajx_delete.php
ajx_deletebookmark.php
ajx_editfamily.php
ajx_editperson.php
ajx_editprofile.php
ajx_fampreview.php
ajx_getlastcite.php
ajx_labels.php
ajx_login.php
ajx_logxml.php
ajx_medialinks.php
ajx_newfamily.php
ajx_newperson.php
ajx_pedjson.php
ajx_perspreview.php
ajx_placeconvert.php
ajx_savetentedit.php
ajx_showbranch.php
ajx_showmediaxml.php
ajx_slideshow.php
ajx_smallimage.php
ajx_tentedit.php
ajx_timelinexml.php
ajx_tnginstall.php
ajx_updateorder.php
ajx_updateuser.php
albumlib.php
anniversaries.php
anniversaries2.php
api_checklogin.php
api_family.php
api_library.php
api_person.php
appendix.html
begin.php
bookmarks.php
branchlib.php
branchlibjs.php
browsealbums.php
browsebranches.php
browsedocs.php
browseheadstones.php
browsemedia.php
browsenotes.php
browsephotos.php
browserepos.php
browserinfo.php
browsesources.php
browsetrees-old.php
browsetrees.php
calendar.php
calsettings.php
cemeteries.php
changelanguage.php
checklogin.php
class.phpmailer.php
class.smtp.php
#config.php
customconfig.php
datelib.php
deepindex.php
deletelib.php
descend.php
descendtext.php
desctracker.php
end.php
eventlib.php
eventlib_js.php
eventmicro.php
extrastree.php
familygroup.php
famsearch.php
famsearchform.php
favicon.ico
findalbummedia.php
findcemetery.php
findfamily2.php
findfamilyform.php
findform.php
finditems.php
findperson.php
findperson2.php
findpersonform.php
findpersonform2.php
findplace.php
findplaceform.php
findrepo.php
findrepoform.php
findsource2.php
findsourceform.php
#footer.php
fpdf.php
functions.php
gedcom.php
gedform.php
gedimport_families.php
gedimport_misc.php
gedimport_people.php
gedimport_sources.php
gedimport_trees.php
#genlib.php
genlog.txt
geocodelib.php
getlang.php
getperson.php
globallib.php
googleearthbylatlong.php
googlemapdrawthemap.php
googlemaplib.php
googlemaplib2.php
google_marker.php
headstones.php
helplib.php
historytemplate.php
imageutils.php
img_newwin.php
img_viewer.php
importconfig.php
index.php
index_html.html
index_plus_header_footer.php
log.php
logconfig.php
login.php
loginlib.php
logout.php
maint.php
managemods.class.php
mapconfig.php
medialib.php
mediatypes.php
meta.php
micro_medialinks.php
micro_newsource.php
mostwanted.php
newacctform.php
niceditmsgs.php
pedbox.php
pedconfig.php
pedigree.php
pedigreetext.php
personlib.php
photoblock.php
places-all.php
places-oneletter.php
places.php
places100.php
placesearch.php
prefixes.php
processlogin.php
processvars.php
pwdlib-phpass.php
pwdlib.php
randomphoto.php
register.php
reglib.php
relateform.php
relationship.php
relationship2.php
reports.php
result.html
rpt_descend.php
rpt_fam.php
rpt_ind.php
rpt_pdfform.php
rpt_pedigree.php
rpt_utils.php
savelanguage.php
savelanguage2.php
search.php
searchform.php
searchlib.php
sendlogin.php
session_register.php
showalbum.php
showlog.php
showmap.php
showmedia.php
showmedialib.php
showmediaxmllib.php
showrepo.php
showreport.php
showsource.php
showtree.php
siteversion.php
statistics.php
subroot.php
suggest.php
surnames-all.php
surnames-oneletter.php
surnames.php
surnames100.php
surnamestable.php
surname_cloud.class.php
switchcolor.php
switchcolor2.php
tabledefs.php
templateconfig.php
timeline.php
timeline2.php
tngdblib.php
tngfiletypes.php
tngmaillib.php
tngpdf.php
tngrobots.php
tngrss.php
tngsendmail.php
#tng_begin.php
topmenu.php
treelib.php
ufpdf.php
version.php
verticalchart.php
whatsnew.php
